<div class="row ">
    <div class="col-md-4 mx-auto col-12 ">
        <div class="card mt-5 rounded ">
            <div class="mx-auto text-black blockquote mt-4 mb-1 ">
              Select Login
            </div>
            <div class="card-body  ">
                <a class="a-button"  [routerLink]="['/employee/login']"><button class="btn btn-success d-block mx-auto mb-3 w-25" >Employee</button></a>
                <a class="a-button"  [routerLink]="['/manager/login']"><button class="btn btn-warning d-block mx-auto my-3 w-25">Manager</button></a>
                <a class="a-button"  [routerLink]="['/admin/login']"><button class="btn btn-danger d-block mx-auto my-3 text-white w-25">Admin</button></a>
            </div>
          </div>
    </div>
</div>