<app-plain-navbar></app-plain-navbar>
<section class="row bg-refl">
    <section class="col-md-6">

    </section>
    <section class="col-md-6 ">
        <section class="card bg-black text-white vh-100">
            <section class="card-body mt-5">
                <!-- Section for login input -->
                <h2 class="card-title mt-5 px-5 mb-3 mx-auto">Manager Login</h2>
                <form [formGroup] = "loginForm" (ngSubmit)="onLogin()">
                <section class="form-group px-5" >
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" required>
                </section>
                <section class="form-group px-5">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" formControlName ="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        required>
                </section>
                <button type="submit"
                        class="btn btn-primary px-5 m-5">Login</button>
                    </form>

                <section class="row bg-black text-black">

                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, aliquam officia
                    dignissimos, amet, nobis repellendus incidunt reprehenderit voluptate veniam
                    veritatis mollitia facilis nulla culpa quos sapiente perspiciatis et illum a! Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit. Expedita obcaecati iusto maiores repellendus
                    voluptatum fuga error velit voluptates labore ullam modi accusantium, perferendis eos, aliquam
                    quasi molestias porro exercitationem accusamus.

                </section>
            </section>
        </section>
    </section>
</section>